h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .social-media a {
    display: inline-block;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;
    color: #333;
  }
  
  .social-media a:hover {
    color: #0077C9;
  }
  
  img {
    width: 500px; /* set the width and height of the image to be equal */
    height: 500px;
    border-radius: 50%; /* set the border-radius to 50% of the width and height */
    overflow: hidden; /* hide the extra part of the image that may be outside of the circle */
    margin-bottom: 20px;
}

.social-media a:hover i.fab.fa-snapchat {
    color: #c8c501de;
    transition: all 0.2s ease-in-out;
}
.social-media a:hover i.fab.fa-instagram {
    color: #8a3ab9;
    transition: all 0.2s ease-in-out;
}
.bio {
    text-align: center; /* center the bio text */
    font-size: 16px; /* set the font size of the bio text */
    margin-top: 20px; /* add some margin top to separate the bio from the name */
}

